@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    --primary-bg: #14121b;
    --secondary-bg: #1c1a22;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ffffff22;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-bg);
}
body {
  background-color: var(--primary-bg);
  display: flex;
}
.side-link {
  position: relative;
}

.side-link .active {
  background: var(--primary-bg);
}

.side-link.active:after,
.side-link.active:before {
  --border-radius: 1.3rem;
  position: absolute;
  content: '';
  width: var(--border-radius);
  height: var(--border-radius);
  border-radius: 50%;
  right: 0;
}

.side-link.active:before {
  top: calc(var(--border-radius) * -1);
  box-shadow: 5px 5px 0px 5px var(--primary-bg);
  border-radius: 0 0 100vw 0;
}
.side-link.active:after {
  bottom: calc(var(--border-radius) * -1);
  box-shadow: 5px -5px 0px 5px var(--primary-bg);
  border-radius: 0 100vw 0 0;
}

.floating-container {
  animation: morph 8s ease-in-out infinite, fade-in 2s ease-in-out forwards;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  transition: all 1s ease-in-out;
  border: 3px solid #02959f;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.pulse-shadow {
  animation: pulse-shadow 3s ease-in-out infinite alternate;
}
.pulse-shadow:nth-child(1) {
  animation-delay: 0s;
}
.pulse-shadow:nth-child(2) {
  animation-delay: 0.5s;
}
.pulse-shadow:nth-child(3) {
  animation-delay: 1s;
}
.pulse-shadow:nth-child(4) {
  animation-delay: 1.5s;
}
.pulse-shadow:nth-child(5) {
  animation-delay: 2s;
}
.pulse-shadow:nth-child(6) {
  animation-delay: 2.5s;
}
.pulse-shadow:nth-child(7) {
  animation-delay: 0s;
}
.pulse-shadow:nth-child(8) {
  animation-delay: 0.5s;
}
.pulse-shadow:nth-child(9) {
  animation-delay: 1s;
}
.pulse-shadow:nth-child(10) {
  animation-delay: 1.5s;
}
.pulse-shadow:nth-child(11) {
  animation-delay: 2s;
}
.pulse-shadow:nth-child(12) {
  animation-delay: 2.5s;
}

@keyframes pulse-shadow {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(10px, 25px);
    filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.5));
  }
}

.green-pink-gradient {
  background: '#00cea8';
  background: linear-gradient(90.13deg, #42c2cf 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #42c2cf 1.9%, #bf61ff 97.5%);
}

.bg {
  background-color: rgb(21 16 48 / 0.9);
}

.green-text-gradient {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
